<html>
<head>
</head>
<body>
	Hello, I have a problem of understanding the meaning of Flyway to migrate my database<br/>
	I already read the documentation and confuse how to implement it with Neo4j GraphDatabase<br/>
	In this sample project, I have multiple Initial Data.<br/>
	How I can implement Flyway integration to execute my init Data ?<br/>
	<ol>
		<li>I use class Unit for Flyway (as example)</li>
		<li>I have package db.migration that contain V1_1__InitMaster.java (I need java file to customize some data later)</li>
		<li>How to save my init Data into neoj database?</li>
	</ol>
</body>
</html>